body {
    background-color: #adff2f;
    width: 200;
    height: 400;
    right: 30px;
    text-align: justify;
    text-shadow: #adff2f;
}h1,h6{
    color: red;
    font-family: Cambria ;
}
h1 {
    font-style: italic;
    font-size: 30px;
}
img {
    border: 2px solid blue;
}
li{
    color: green;
    font-size: 12px;
    font-family: calibri;
    counter-reset: item;
    counter-increment: item;
}
ol li{
    padding: 2px;

}